html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p,
a {
  font-size: 2rem;
}
a {
  text-decoration: none;
}
nav {
  background-color: #333333;
  color: #F3F3F3;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div span {
  color: #E84C3D;
}
nav a {
  color: #F3F3F3;
}
@media (max-width: 1000px) {
  nav a {
    font-size: 1.5rem;
  }
}
nav .navbar {
  width: 70%;
}
@media (max-width: 800px) {
  nav .navbar {
    display: none;
  }
}
nav .social-media {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 800px) {
  nav .social-media {
    width: 20%;
  }
}
@media (max-width: 500px) {
  nav .social-media {
    width: 20%;
  }
}
nav button {
  display: none;
  background-color: #333333;
  color: #F3F3F3;
  border: 0;
}
@media (max-width: 800px) {
  nav button {
    display: block;
  }
}
.sectionOne {
  background-image: url("../images/home-page.jpg");
  background-size: cover;
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionTwo {
  text-align: center;
}
