html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p,
a {
  font-size: 2rem;
}
a {
  text-decoration: none;
}
bold {
  font-weight: 700;
}
.nav {
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav nav {
  color: #F3F3F3;
  width: 95%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1400px) {
  .nav nav {
    width: 95%;
  }
}
.nav nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav nav h1 {
  font-size: 3.5rem;
}
.nav nav span {
  color: #E84C3D;
}
.nav nav a {
  color: #F3F3F3;
  text-decoration: none;
}
.nav nav a:hover {
  color: #E84C3D;
}
@media (max-width: 1000px) {
  .nav nav a {
    font-size: 1.5rem;
  }
}
@media (max-width: 800px) {
  .nav nav a {
    font-size: 2rem;
  }
}
.nav nav .navbar {
  width: 60%;
}
@media (max-width: 800px) {
  .nav nav .navbar {
    display: none;
  }
}
.nav nav .navbar .dropdown {
  position: relative;
  display: inline-block;
}
.nav nav .navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.nav nav .navbar .dropdown-content a {
  display: block;
}
.nav nav .navbar .dropdown:hover .dropdown-content {
  display: block;
}
.nav nav .social-media {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 800px) {
  .nav nav .social-media {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .nav nav .social-media {
    width: 60%;
  }
}
.nav nav button {
  display: none;
  background-color: #333333;
  color: #F3F3F3;
  border: 0;
  font-size: 2rem;
}
.nav nav button:hover {
  color: #E84C3D;
}
@media (max-width: 800px) {
  .nav nav button {
    display: block;
  }
}
main {
  background-color: #F3F3F3;
}
.sectionOne {
  background-image: url("../images/home-page.jpg");
  background-size: cover;
  width: 100%;
  height: 60vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionOne .mainDiv {
  width: 80%;
}
.sectionOne h2 {
  color: white;
}
@media (max-width: 800px) {
  .sectionOne h2 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .sectionOne h2 {
    font-size: 2rem;
  }
}
.sectionOne p {
  color: white;
}
@media (max-width: 500px) {
  .sectionOne p {
    font-size: 1.3rem;
  }
}
.sectionOne button {
  font-size: 2rem;
  background-color: #E84C3D;
  color: #F3F3F3;
  padding: 1.5% 3%;
  border: 1px solid #333333;
  border-radius: 2px;
  margin: 1%;
}
.sectionOne button:hover {
  background-color: #333333;
  color: #F3F3F3;
}
.sectionTwo {
  background-color: #E84C3D;
  text-align: center;
  color: #F3F3F3;
  padding-top: 1%;
}
.sectionTwo button {
  font-size: 2rem;
  background-color: #333333;
  color: #F3F3F3;
  padding: 1.5% 3%;
  border: 1px solid #333333;
  border-radius: 2px;
  margin: 1%;
  margin: 2%;
}
.sectionTwo button:hover {
  background-color: #F3F3F3;
  color: #333333;
}
@media (max-width: 800px) {
  .sectionTwo button {
    margin: 3%;
  }
}
@media (max-width: 500px) {
  .sectionTwo button {
    margin: 5%;
  }
}
.sectionThree {
  text-align: center;
  color: #333333;
  width: 100%;
  margin-top: 2%;
}
.sectionThree .services {
  width: 100%;
  padding: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sectionThree .services div {
  width: 40%;
}
@media (max-width: 800px) {
  .sectionThree .services div {
    width: 90%;
    padding: 2% 0;
  }
}
.sectionThree .services img {
  width: 45%;
}
@media (max-width: 1400px) {
  .sectionThree .services img {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .sectionThree .services img {
    width: 90%;
    order: -1;
  }
}
.sectionThree .services button {
  font-size: 2rem;
  background-color: #E84C3D;
  color: #F3F3F3;
  padding: 1.5% 3%;
  border: 1px solid #333333;
  border-radius: 2px;
  margin: 1%;
}
.sectionThree .services button:hover {
  background-color: #333333;
  color: #F3F3F3;
}
@media (max-width: 1000px) {
  .sectionThree .services h3 {
    font-size: 2rem;
  }
}
@media (max-width: 1000px) {
  .sectionThree .services p {
    font-size: 1.5rem;
  }
}
@media (max-width: 1400px) {
  .sectionThree .services {
    padding: 2%;
  }
}
@media (max-width: 1000px) {
  .sectionThree .services {
    padding: 1%;
  }
}
@media (max-width: 800px) {
  .sectionThree .services {
    flex-direction: column;
  }
}
footer {
  text-align: center;
  background-color: #333333;
  color: #F3F3F3;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  footer p {
    font-size: 1.5rem;
  }
}
.section1 {
  color: #333333;
  text-align: center;
}
.section1 h1 {
  padding: 2% 0;
}
@media (max-width: 800px) {
  .section1 h1 {
    font-size: 4rem;
    padding: 2% 0;
  }
}
@media (max-width: 500px) {
  .section1 h1 {
    font-size: 3rem;
  }
}
.section1 .the-challenge {
  background-color: #E84C3D;
  color: #F3F3F3;
  padding: 3% 10%;
}
@media (max-width: 800px) {
  .section1 .the-challenge {
    padding: 4% 5%;
  }
}
@media (max-width: 500px) {
  .section1 .the-challenge {
    padding: 5% 2%;
  }
}
@media (max-width: 800px) {
  .section1 .the-challenge h2 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .section1 .the-challenge h2 {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .section1 .the-challenge p {
    font-size: 1.5rem;
  }
}
.section2 {
  color: #333333;
  background-color: #F3F3F3;
  width: 100%;
  text-align: center;
  padding: 3% 10%;
}
@media (max-width: 800px) {
  .section2 {
    padding: 4% 5%;
  }
}
@media (max-width: 500px) {
  .section2 {
    padding: 5% 2%;
  }
}
@media (max-width: 800px) {
  .section2 h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .section2 h3 {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .section2 p {
    font-size: 1.5rem;
  }
}
.section3 {
  color: #333333;
  background-color: #F3F3F3;
  width: 100%;
  text-align: center;
}
@media (max-width: 800px) {
  .section3 h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .section3 h3 {
    font-size: 2rem;
  }
}
.section3 .our-approach {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.section3 .our-approach div {
  margin: 3%;
  width: 40%;
}
@media (max-width: 800px) {
  .section3 .our-approach div {
    width: 90%;
  }
}
.section3 .our-approach h4 {
  font-size: 2rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .section3 .our-approach h4 {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .section3 .our-approach p {
    font-size: 1.5rem;
  }
}
@media (max-width: 800px) {
  .section3 .our-approach {
    flex-direction: column;
  }
}
