.sectionOne {
    background-image: url("../images/home-page.jpg");
    background-size: cover;
    width: 100%;
    height: 1000px;

    .flex-content(center, center);
    
}

.sectionTwo {
    text-align: center;
}

.sectionThree {
    
}