.flex-content(@justify, @align){
    display: flex;
    justify-content: @justify;
    align-items: @align;
}

.btn() {
    font-size: 2rem;
    color: @bright;
    background-color:@orange;
    padding: 1.5% 3%;
    border: 1px solid @dark;
    border-radius: 2px;
    margin: 1%;
}

.btn-hover(){
    &:hover{
        background-color: @dark;      
    }
}

